<% layout("layout/boilerplate") %>
<link rel="stylesheet" href="/stylesheet/journalStyle.css">

<sup class="text-muted text-center mb-3 position-relative">Entries encrypted upon posting &#x1F512;  </sup> 
<h3 class="text-center p-2">Hey <%=currentUser.username%>, what will you ask yourself today?</h3>
<div class="container d-flex justify-content-center">
<button type="button"
        class="btn shadow btn-light journal-icon-btn mb-5 rounded-5"
        data-bs-toggle="modal"
        data-bs-target="#questionsModal">
    <%-include("./partials/journalIcon.ejs") %>
</button>
    
</div>

<%- include("./partials/questionsModal") %>
<%- include("./partials/mainModal") %>
<%- include("./partials/editModal") %>
    
<section id="journal-entries">
    <div class="container row justify-content-center">
            <% entries.forEach((entry) => { %> 
                <div class="card shadow mb-4 ms-4" style="width: 20rem; background-color:<%=entry.color%>;">
                    <div class="d-flex justify-content-between mt-2">
                    <% if (entry.status === "private") { %>
                        <%-include("./partials/mutedPrivateIcon.ejs")%>
                        <% } else { %>
                            <%-include("./partials/mutedPublicIcon.ejs")%>
                            <% } %>

                    <% if(new Date().toLocaleDateString("en-GB") === entry.date) { %>
                        <button data-bs-toggle="modal" class="edit-btn" data-bs-target="#edit-modal-<%=entry._id%>">
                            <%-include("./partials/editIcon.ejs")%>
                        </button>
                        <% } %>
                    </div>
                <div class="card-body">
                    <h6 class="card-title"><strong><%=entry.question%></strong></h6>
                    <p class="card-text" style="min-height: 280px; max-height: 280px; overflow-y: auto;">
                        <%= entry.entry %>
                    </p>
                    <div class="m-auto border border-bottom-0 position-relative"></div>
                    
                    <div class="d-flex justify-content-between">
                        <p class="card-text d-flex justify-content-end"><small class="text-body-secondary"><%= entry.date %> </small></p>
                        <p class="card-text d-flex justify-content-end"><small class="text-body-secondary"> <%=entry.time %> </small></p>
                    </div>
                    
                </div>
            </div>
            
            <% }) %>
        </div>
        
    </section>



    <script src="/js/modalsJS.js"></script>
    <script src="/js/questionType.js"></script>